
body {
    background-color: #4f4287;
}

header {

    width: 800px;
    margin-left:calc((100% - 800px)/2);
    display: inline-block;
    height: 50px;
  
}

header > img {

    float: left;
    height: 16px;
    margin-top: 17px;
    margin-left: 40px;
}

header > h1 {

    float: left;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding-left: 20px;
    margin-top: 16px;
}

 header > nav {
    float: right;
    margin-top: 14px;

}

nav > a {
    font-size: 12px;
    color: white;
    text-decoration: none;
    padding: 10px;
    padding-right: 20px;
}

nav > a:last-child {

    margin-right: 20px;
    border-left: solid;
    border-color: #8981af;

}

main {

    width: 800px;
    margin-left:calc((100% - 800px)/2);
    display: inline-block;
  
}


main > img {
    float: left;
    width: 300px;
    margin-top: 100px;
    margin-left: 65px;


}

main > div {

    width: 300px;
    float: right;
    margin-top: 80px;
    margin-right: 65px;
}



main > div > h1 {
        color: white;
        font-style:normal;
        font-weight: bold;
        font-size: 40px;

}

main > div > p {
    font-style: normal;
    font-size: 20px;
    color: white;
 
}

main > div > a{

    float: left;
    text-transform: uppercase;
    border: red 2px dashed;
    border-radius: 20px;
    padding: 14px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    

}